
#jeux-img{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
#originale{
    height: 49%;
    width: 49%; 
}
#vraie{
    width: 100%;
    height: auto;
}



#faute{
    height: 49%;
    width: 49%;
}
#modifié{
    position: relative;
    width: 100%;
    height: auto;
    display:none;
    
}

#erreur{
    /* width: 100%;
    height: auto; */
    position:absolute;
    display:none;
    margin-left: 25%;
    margin-top: 17%;
}