
#jeux-img{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
#originale{
    height: 49%;
    width: 49%; 
}
#vraie{
    width: 100%;
    height: auto;
}



#faute{
    height: 49%;
    width: 49%;
    position: relative;
}
#modifié{
    width: 100%;
    height: auto; 
}

#erreur{
    /* width: 100%;
    height: auto; */
    position:absolute;
    left: 55%;
    top: 60%;
    opacity: 0;
}







